name: Test Runner

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: self-hosted
    
    steps:
      - name: Test
        run: |
          echo "Runner funcionando!"
          whoami
          pwd
          ls -la